version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: my-mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin1234
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
