<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jst.server.tomcat.core.launchConfigurationType">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="AMAZON_API_BASE_URL" value="https://amazon-product-search-api1.p.rapidapi.com/search"/>
        <mapEntry key="AMAZON_RAPIDAPI_HOST" value="amazon-product-search-api1.p.rapidapi.com/search"/>
        <mapEntry key="EXERCISE_API_BASE_URL" value="https://exercisedb.p.rapidapi.com"/>
        <mapEntry key="MONGO_CONNECTION_STRING" value="mongodb+srv://admin:admin@workoutcluster.snlejtj.mongodb.net/"/>
        <mapEntry key="MONGO_DB_NAME" value="WORKOUT_DB"/>
        <mapEntry key="RAPIDAPI_HOST" value="exercisedb.p.rapidapi.com"/>
        <mapEntry key="RAPIDAPI_KEY" value="1a077de20bmshdbdbe3f303aa16dp143e78jsn02e222a21c6a"/>
        <mapEntry key="YOUTUBE_API_BASE_URL" value="https://youtube138.p.rapidapi.com/search"/>
        <mapEntry key="YOUTUBE_RAPIDAPI_HOST" value="youtube138.p.rapidapi.com/search"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jre&quot; path=&quot;2&quot; type=&quot;4&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/apache-tomcat-10.1.48/bin/bootstrap.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/apache-tomcat-10.1.48/bin/tomcat-juli.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jre"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="start"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dcatalina.base=&quot;C:\team_BACKEND\.metadata\.plugins\org.eclipse.wst.server.core\tmp0&quot; -Dcatalina.home=&quot;C:\apache-tomcat-10.1.48&quot; -Dwtp.deploy=&quot;C:\team_BACKEND\.metadata\.plugins\org.eclipse.wst.server.core\tmp0\wtpwebapps&quot; -Djava.library.path=&quot;C:\apache-tomcat-10.1.48\bin&quot; --enable-native-access=ALL-UNNAMED --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.rmi/sun.rmi.transport=ALL-UNNAMED"/>
    <stringAttribute key="server-id" value="Tomcat v10.1 Server at localhost"/>
</launchConfiguration>
